var formatTime = function(value) {
  var time = getDate(value * 1000);
  var year = time.getFullYear();
  var month = time.getMonth() + 1;
  month = month < 10 ? '0 ' + month : month;
  var day = time.getDate();
  day = day < 10 ? '0' + day: day;
  var hour = time.getHours();
  hour = hour < 10 ? '0' + hour : hour;
  var minute = time.getMinutes();
  minute = minute < 10 ? '0' + minute : minute;
  var second = time.getSeconds();
  second = second < 10 ? '0' + second : second;
  return year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
}

module.exports = {
  formatTime: formatTime,
}